<%- include('partials/head.ejs') %>

<body class="project-dark">
  <%- include('partials/navbar.ejs') %>
 
  <main>
    <div class="container">
      <div class="card" id="form-pergunta">
              <div class="card-header text-center">
                  <h1 class=""><%=perguntas.titulo%></h1>
                  <h2 class="titulo-lista"><%= perguntas.descricao %></h2>
              </div>
              <%respostas.forEach((resposta) => {%>
                <div class="card">
                  <div class="card-body">
                    <p class="item-resposta"><%=resposta.corpo%></p>
                  </div>
                </div>
              <%})%>
              <form action="/insertResposta/<%=perguntas.id%>" method="POST" class="card-body">
                <h3>Responda</h3>
                <textarea placeholder="Digite sua resposta" class="form-control" name="corpo" required autocomplete="off"></textarea>
                <button type="submit" class="btn btn-primary mt-2">Responder</button>
              </form>
      </div>
    <a href="/" class="btn btn-primary mt-2">Voltar</a>
    </div>
  </main>
</body>

<%- include('partials/scripts.ejs') %>
